<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Ciência de Dados na veia</title>
  </head>
  <style>
    nav a {
        color: #d64161;
        font-size: 2em;
        margin-left: 10px;
        text-align: left;
        text-decoration: none;
    }
  
    
</style>

</head>
<body>
<nav>
    
    <a href="#">Análise CAGED (BRASIL) sobre as Pessoas com deficiência de 2020 A 07/2023</a>
    <br>
    <b href="#"><img id="python" src="../static/pp.jpg" alt="Image" height="102" width="102"></a> 
    <a href="#">Cientista de Dados Graduado</a>
    <a href="https://wa.me/5521999618643?text=Ci%C3%AAncia%20de%20Dados%20na%20VEIA.%20"><img id="pythonz" src="../static/WhatsApp.png" alt="Image" height="102" width="102"></a>
    <a href="#"><img id="pythonz" src="../static/pix.jpg" alt="Image" height="102" width="102"></a>Faça uma doação de 50,00 para a manutençao do Site
    <a href="https://www.linkedin.com/in/pedro-paulo-ribeiro-pcd-1451498/"><img id="pythonz" src="../static/linedin.png" alt="Image" height="102" width="102"></a>
    
</nav>
<hr>

</body>
</html>
    <!-- Optional JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>